Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
PyYAML==3.10
Werkzeug==0.9.6
ago==0.0.6
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
docker-py==0.5.3
itsdangerous==0.24
python-dateutil==2.2
python-tutum==0.11.0
redis==2.10.3
requests==2.5.0
six==1.8.0
tabulate==0.7.2
tutum==0.11.0
websocket-client==0.22.0
wsgiref==0.1.2
